body{
    background-image: url("bg.jpg");

}

h1{
    margin-top: 50px;
    color: white;
}

h2{
    margin-top: 50px;
    color: white;
}

h3{
    margin-top: 50px;
    color: white;
}

p{
    color: white;
}

#main{
    margin-top: 50px;
    margin-left: 100px;
}