/* цвет фона */
body {
  background-color: #f8f9fa;
}

/* цвет текста */
body, h1, h2, h3, p, a, button {
  color: #212529;
}

/* стилизация кнопки */
button {
  background-color: #007bff;
  border-color: #007bff;
}

button:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* выравнивание заголовков */
h1, h2, h3 {
  text-align: center;
}

/* выравнивание формы */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* изменение отступа для формы */
.container {
  margin-top: 50px;
}

/* изменение ширины формы для мобильных устройств */
@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}
