<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/add_contest.css" rel="stylesheet" type="text/css" media="all">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav>
        {% if current_user.is_authenticated %}
        <a style="color: white; text-decoration: none; font-size: 20px" href="/user/{{ current_user.id }}">{{
            current_user.name }}</a>
        {% else %}
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/register">Зарегистрироваться</a>
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/login">Войти</a>
        {% endif %}
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/">Главная страница</a>
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/solutions">Решения</a>
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/logout">Выйти</a>
    </nav>
</header>
<div id="main">
    <h1>Добавление задачи</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title() }}<br>
            {% for error in form.title.errors %}
        <p>
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description() }}<br>
            {% for error in form.description.errors %}
        <p>
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.input_format.label }}<br>
            {{ form.input_format() }}<br>
            {% for error in form.input_format.errors %}
        <p>
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.output_format.label }}<br>
            {{ form.output_format() }}<br>
            {% for error in form.output_format.errors %}
        <p>
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.input_example.label }}<br>
            {{ form.input_example() }}<br>
            {% for error in form.input_example.errors %}
        <p>
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.output_example.label }}<br>
            {{ form.output_example() }}<br>
            {% for error in form.output_example.errors %}
        <p>
            {{ error }}
        </p>
        {% endfor %}
        </p>


        <div>
            <input type="file" name="file">
        </div>


        <p>{{ form.submit(type="submit") }}</p>

        {{message}}
    </form>
</div>
</body>
</html>