<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- Подключаем стили Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="/">Главная страница</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link text-light" href="/user/{{ current_user.id }}">{{ current_user.name }}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text-light" href="/register">Зарегистрироваться</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/login">Войти</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link text-light" href="/solutions">Решения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/logout">Выйти</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="text-black mb-5">Контесты</h1>
    <a href="/add_contest" class="btn btn-warning mb-5">Добавить контест</a>
    {% for item in contests %}
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="card-title">{{item.id}}. {{item.title}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Дата создания - {{item.created_date}}</p>
            {% if current_user.is_authenticated %}
            <div>
                <a href="/contests/{{ item.id }}" class="btn btn-primary">
                    Открыть
                </a>
                <a href="/edit_contest/{{ item.id }}" class="btn btn-success">
                    Редактировать
                </a>
                <a href="/contests_delete/{{ item.id }}" class="btn btn-danger">
                    Удалить
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>