<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link href = "/static/css/leaderboard.css" rel = "stylesheet" type="text/css" media="all">
    <title>{{title}}</title>
</head>
<body>
    <header>
    	<nav>
        {% if current_user.is_authenticated %}
        <a style="color: white; text-decoration: none; font-size: 20px" href="/user/{{ current_user.id }}">{{ current_user.name }}</a>
        {% else %}
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/register">Зарегистрироваться</a>
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/login">Войти</a>
        {% endif %}
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/">Главная страница</a>
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/solutions">Решения</a>
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/logout">Выйти</a>
        </nav>
	</header>

    <h1 id="title">Таблица лидеров</h1>
    {% for user in users %}
    <div class="table">
        <h2>{{user.name}}</h2>
        <div style="margin-left: 150px">
            <p style="font-size: 50px; margin-top: -50px; margin-bottom: -10px; font-weight: bold">{{user.score}}</p>
        </div>
        <div>
            <a style="font-size: 20px; text-decoration: none; color: black; font-weight: bold" href="/user/{{ user.id }}">
                Профиль
            </a>
        </div>
    </div>
    {% endfor %}
</body>
</html>