<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link href = "/static/css/profile.css" rel = "stylesheet" type="text/css" media="all">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav>
        {% if current_user.is_authenticated %}
        <a style="color: white; text-decoration: none; font-size: 20px" href="/user/{{ current_user.id }}">{{ current_user.name }}</a>
        {% else %}
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/register">Зарегистрироваться</a>
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/login">Войти</a>
        {% endif %}
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/">Главная страница</a>
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/solutions">Решения</a>
        <a style="color: white; text-decoration: none; font-size: 20px; margin-left: 10px" href="/logout">Выйти</a>
        </nav>
    </header>
<div id="main">
	<h2>{{ user.name }}</h2>
	<h2>Счет</h2>
	<h3>{{ user.score }}</h3>
	<h2>Дата создания аккаунта</h2>
    <p>{{ user.created_date }}</p>
</div>
</body>
</html>